header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-bottom: 80px;

    nav {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: row;
        padding: 20px 10px;
        row-gap: 10px;
        column-gap: 10px;
        justify-content: center;

        button {
            border-radius: 20px;
            background-color: #9723c9;
            color: white;
            padding: 5px 10px;
            cursor: pointer;

            &:hover {
                background-color: #a388ee;
                transform: scale(1.05);
                box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.3);
            }
        }
    }

    h1 {
        font-family: 'Monoton', cursive;
        font-size: 40px;
        padding-top: 50px;
        text-align: center;
    }
    
    p {
        font-family: 'Lobster', cursive;
        font-size: 18px;
        padding-top: 50px;
        text-align: center;
    }
}

body {
    background-color: #87ceeb;
}